body{
    size: 5cm;
    background-color: grey;
}

#odiv{

    background-color: whitesmoke;
}

#sourceAndTarget{
    background-color: turquoise;
}

h4{
font-weight: 400;

    }

#TargetLanguage{
   margin-bottom: 7px;
}

